@model Escuela;

@{
  ViewData["Title"]= "Información Escuela";
  Layout="_Layout";
}

<h1>Escuela  </h1>
<h2>Nombre: @Model.Nombre</h2>
<h3>Tipo de Escuela: @Model.TipoEscuela</h3>
<p><strong>Año Fundación: @Model.AñoDeCreacion</strong></p>
<address>
  <p>Direccion: @Model.Direccion</p>
  <p>País: @Model.Pais</p>
  <p>Cuidad: @Model.Ciudad</p>
</address>
<p><i>@ViewBag.CosaDinamica</i></p>
